.app.dark {
  background-color: black;
  color: white;

  .sidebar {
    background-color: black;

    &__center {
      li {
        span {
          color: white;
        }
      }
    }
  }

  .navbar {
    &__wrapper {
      &__search {
        .icon {
          color: black;
        }
      }

      &__items {
        &__item {
          &:nth-child(2) {
            color: yellow;
          }
        }
      }
    }
  }

  .widget {
    &__left {
      &__link {
        color: white;
      }
    }
  }

  .listContainer {

    h3 {
      color: white;
    }
    .tableData {
      .dataGrid {
        color: white;
      }
    }

    .formItem {
      color: red;
    }
  }

  .table {
    background-color: black;

    .tableCell {
      color: white;
    }
  }
}
