.edit {
  width: 100%;
  display: flex;

  .listContainer {
    flex: 6;
    h3 {
      text-align: center;
      font-size: 30px;
    }
    hr {
      margin-bottom: 2rem;
    }

    .button {
      text-align: center;

      .btn {
        padding: 10px;
        background-color: #1789ff;
        color: white;
        border: none;
        cursor: pointer;
      }
    }
  }
}
