.catalog {
  @include flex(flex-start, flex-start);

  &__filter {
    width: 20%;

    @include tablet {
      width: unset;
    }

    &__widget {
        margin-bottom: 2rem;
        &__title {
            font-size: 1.5rem;
            font-weight: 600;
            text-transform: capitalize;
            margin-bottom: 10px;
        }

        &__content {
            color: $text-second-color;

            &__item {
                margin-bottom: 13px;
            }
        }
    }
  }

  &__content {
    flex-grow: 1;

    @include tablet {
      width: unset;
    }
  }
}
