.contact {
  padding: 1rem;
  .wrapper {
    background-color: gray;
    .contact {
      width: 180%;
      height: 100%;

      &__form {
        @include flex(center, center);
        flex-direction: column;
        h1 {
          text-align: center;
          padding-top: 2rem;
        }

        .input {
          width: 50%;
          height: 40px;
          margin-bottom: 2rem;
        }
        .textarea {
          width: 50%;
          margin-bottom: 2rem;
        }

        .success {
          color: white;
        }
      }

      &__support {
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(1%);

        h3 {
          color: #1789ff;
        }
        span {
          color: white;
        }
        p {
          b {
            color: black;
          }

          color: white;
        }
      }
    }
  }
}
