.section {
  margin-bottom: 80px;

  & > * ~ * {
    margin-top: 70px;
  }

  &__title {
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
    border-bottom: 1px solid black;
    width: 25%;
    margin: 0 auto;
    padding-top: 2rem;
  }
}
