.product-card {
  text-align: center;
  margin-bottom: 30px;

  &__image {
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;

    img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;

      &:nth-child(1) {
        transform: translateX(-50%);
        opacity: 1;
        transition: all 0.5s ease;
      }

      &:nth-child(2) {
        transform: translateX(-150%);
        opacity: 0;
        transition: all 0.5s ease;
      }
    }
    &:hover img {
      &:nth-child(1) {
        transform: translateX(100%);
        opacity: 0;
      }

      &:nth-child(2) {
        transform: translateX(-50%);
        opacity: 1;
      }
    }
  }

  &__name {
    margin-bottom: 10px;
    color: $text-second-color;
    font-size: 1.25rem;
    font-weight: bold;
  }

  &__price {
    color: $text-main-color;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;

    &__old {
      color: $text-second-color;
      margin-left: 10px;
      font-weight: 300;
    }
  }

  &__btn {
    @include tablet {
      // display: none;
    }
  }
}
