.product-view {
  @include flex(flex-start, flex-start);
  @include mobile {
    display: block;
  }

  &__home {
    @include flex(center, center);
    @include tablet {
      font-size: 10px;
    }
  }

  &__images {
    @include flex(center, flex-start);

    @include tablet {
      @include flex(flex-start, flex-start);
      margin-left: 1rem;
    }

    @include mobile {
      margin-top: 1rem;
      width: 90%;
    }
    width: 60%;
    flex-wrap: wrap;

    &__list {
      width: 20%;

      &__item {
        cursor: pointer;
      }
    }

    &__main {
      position: relative;
      flex-grow: 1;
      padding-top: 100%;

      img {
        position: absolute;
        height: 80%;
        top: 0;
        padding: 0 3rem;
        background-size: cover;

        @include tablet {
          height: 50%;
        }
      }
    }
  }

  &__info {
    flex-grow: 1;
    position: sticky;
    top: $header-shrink-height;
    padding-top: 2rem;

    &__title {
      font-size: 2.5rem;
      font-weight: normal;

      @include tablet {
        font-size: 2rem;
      }

      @include mobile {
        text-align: center;
      }
    }

    &__item {
      @include flex(center, space-between);
      margin-top: 2rem;

      &__price {
        color: $main-color;
        font-size: 2rem;
        font-weight: 600;

        @include tablet {
          font-size: 1.5rem;
        }
      }

      &__title {
        font-size: 1.5rem;
        font-weight: 600;

        @include tablet {
          font-size: 1.3rem;
        }
      }

      &__list {
        @include flex(center, flex-start);

        &__item {
          @include flex(center, center);
          width: 40px;
          height: 40px;
          border: 1px solid $text-second-color;
          border-radius: 50%;
          margin-left: 3rem;
          cursor: pointer;

          @include tablet {
            width: 35px;
            height: 35px;
            margin-left: 2rem;
          }
        }
      }
    }
  }
}

.product-desc {
  width: 100%;
  padding: 2rem 2rem 3rem;
  height: 400px;
  overflow: hidden;
  position: relative;

  &__mobile {
    display: none;
  }

  &.expand {
    height: max-content;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: justify;

    @include tablet {
      text-align: center;
      font-size: 1.3rem;
    }
  }

  &__content {
    font-size: 1.25rem;
    line-height: 1.875rem;
    text-align: justify;
  }

  &__toggle {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
